<h1><%=uppie(dino.name) %></h1>
<h2><%-highlight(title) %></h2>
<img src="/assets/images/<%=dino.image %>" alt="<%=dino.name%>" />
<%= dino.description %>
<h1><%-emojify("That's all folks","mark") %></h1>
